---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/component: grafana
    app.kubernetes.io/part-of: inventory
    app.kubernetes.io/managed-by: kustomize
    oidc-apps.gardener.cloud/name: grafana
  name: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: grafana
        oidc-apps.gardener.cloud/name: grafana
    spec:
      containers:
      - name: grafana
        env:
        - name: GF_AUTH_ANONYMOUS_ENABLED
          value: "true"
        - name: GF_USERS_VIEWERS_CAN_EDIT
          value: "true"
        - name: GF_DATE_FORMATS_DEFAULT_TIMEZONE
          value: UTC
        - name: GF_AUTH_DISABLE_LOGIN_FORM
          value: "true"
        - name: GF_AUTH_DISABLE_SIGNOUT_MENU
          value: "true"
        ports:
          - containerPort: 3000
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - "ALL"
        image: grafana/grafana:11.0.0-ubuntu
        imagePullPolicy: IfNotPresent
        volumeMounts:
          - name: provisioning-dashboards-vol
            mountPath: /etc/grafana/provisioning/dashboards
            readOnly: true
          - name: provisioning-datasources-vol
            mountPath: /etc/grafana/provisioning/datasources
            readOnly: true
          - name: dashboards-vol
            mountPath: /var/lib/grafana/dashboards
            readOnly: true
        resources:
          requests:
            cpu: 500m
            memory: 512Mi
        livenessProbe:
          httpGet:
            path: /api/health
            port: 3000
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /api/health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      volumes:
        - name: provisioning-dashboards-vol
          configMap:
            name: grafana-provisioning-dashboards
        - name: provisioning-datasources-vol
          secret:
            secretName: grafana-provisioning-datasources
        - name: dashboards-vol
          configMap:
            name: grafana-dashboards
