---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app.kubernetes.io/name: prometheus
    app.kubernetes.io/component: prometheus
    app.kubernetes.io/part-of: inventory
    app.kubernetes.io/managed-by: kustomize
  name: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  serviceName: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      serviceAccountName: prometheus
      containers:
      - name: prometheus
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - "ALL"
        image: prom/prometheus:v3.3.1
        imagePullPolicy: IfNotPresent
        volumeMounts:
          - name: prometheus-config-vol
            mountPath: /etc/prometheus
            readOnly: true
        ports:
        - containerPort: 9090
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
        livenessProbe:
          httpGet:
            path: /
            port: 9090
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /
            port: 9090
          initialDelaySeconds: 5
          periodSeconds: 10
      volumes:
        - name: prometheus-config-vol
          configMap:
            name: prometheus-config
      securityContext:
        fsGroup: 65534
        runAsGroup: 65534
        runAsUser: 65534
