name: Test
on: [push, pull_request, workflow_call]
permissions:
  contents: read
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - name: Run linter
        run: |
          set -eu
          make goimports-reviser lint
      - name: Run tests
        run: |
          set -eu
          make test
      - name: Build binary
        run: |
          set -eu
          make build
      - name: Clean Go cache
        run: |
          set -eu
          go clean -cache -modcache -testcache -fuzzcache
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build OCI image
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: gardener/inventory:latest

  publish-oci:
    if: github.event_name == 'push' && github.repository == 'gardener/inventory'
    uses: ./.github/workflows/oci-images.yaml
    secrets: inherit
    permissions:
      contents: read
      packages: write
      id-token: write
    needs:
      - test
    with:
      mode: snapshot
